<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <h1>Bem-vindo, <%= user.username %>!</h1>

  <nav>
    <ul>
      <li><a href="/vulnerable">Módulo Vulnerável (XSS)</a></li>
      <li><a href="/secure">Módulo Seguro (XSS Sanitizado)</a></li>
      <li><a href="/logout">Sair</a></li>
    </ul>
  </nav>
</body>
</html>
